@using System.Net
@using Invenire.Api.Properties.Items
@using Invenire.Api.Properties.Items.Delete

<div>
    <h4 style="margin:0;">Opravdu chcete smazat všechny položky?</h4>
    <p>Tuto akci nelze vrátit zpět. Doporučujeme si zálohovat data.</p>
    <button @onclick="() => DeleteItems()" style="background-color: #ffcccc;">Ano, smazat</button>
    <button style="width:20%"@onclick="() => OnClose.InvokeAsync(true)">Ne, zrušit</button>
</div>

@code
{
    [Inject] private HttpClient Client { get; set; } = default!;
    [Parameter] public EventCallback<bool> OnClose { get; set;}
    [Parameter] public EventCallback<bool> OnSuccessfulDeletion { get; set;}

    private async Task DeleteItems()
    {
        var response = await Client.DeleteAsync("/api/properties/items?wipe=true");

        if (response.StatusCode != HttpStatusCode.NoContent) throw new Exception("Something went wrong during the requests to delete all items.");

        await OnSuccessfulDeletion.InvokeAsync(true);
    }
}