@using System.Net
@using Invenire.Api.Properties.Items

<button @onclick="() => ShowModal = true">Smazat vybrané položky</button>

@if (ShowModal)
{
    <h4>Opravdu chcete smazat položky?</h4>
    <button @onclick="DeleteItems">Ano, smazat</button>
    <button @onclick="() => ShowModal = false">Ne</button>
}

@code {
    [Inject] public HttpClient Client { get; set; } = default!;
    [Parameter] public EventCallback<bool> OnSuccessfulDeletion { get; set;}
    [Parameter] public List<PropertyItemDto> Items { get; set; } = [];

    private bool ShowModal { get; set; }

    private async Task DeleteItems()
    {
        var response = await Client.DeleteAsync("/api/properties/items?ids=" + string.Join("&ids=",  Items.Select(i => i.Id.ToString())));

        if (response.StatusCode != HttpStatusCode.NoContent) throw new Exception("Something went wrong during the requests to delete items.");

        await OnSuccessfulDeletion.InvokeAsync(true);
    }
}