@using System.Net
@using Invenire.Api.Properties.Items.ExportToExcel
@using Invenire.Api.Properties.Items.ExportToJson
@using Invenire.Common.Errors

<div class="modal-stack">
    @if (Processing)
    {
        <p class="modal-description">Žádost se zpracovává... Může to chvíli trvat.</p>
    }
    else
    {
        <div class="modal-footer">
            <button class="btn-secondary" type="button" @onclick="async () => { await ExportJson(); }">Export do JSON souboru</button>
            <button type="button" @onclick="async () => { await ExportExcel(); }">Export do XLSX (Excel) souboru</button>
        </div>

        @if (Error is not null)
        {
            <div class="error-banner">@Error</div>
        }
    }
</div>

@code
{
    [Inject] private IJSRuntime JS { get; set; } = default!;
    [Inject] private HttpClient Client { get; set; } = default!;
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public EventCallback<bool> OnSuccessfulExport { get; set; }

    private bool Processing { get; set; }
    private string? Error { get; set; }

    private async Task ExportJson()
    {
        Error = null;
        Processing = true;

        try
        {
            var response = await Client.GetAsync("/api/properties/items/export/json");

            if (response.StatusCode != HttpStatusCode.OK)
            {
                var error = await response.Content.ReadFromJsonAsync<ErrorResponse>() ?? throw new NullReferenceException();
                Error = ErrorTranslator.Translate(error.Detail, ExportToJsonPropertyItemResponse.ErrorTranslations);
                return;
            }

            var bytes = await response.Content.ReadAsByteArrayAsync();
            await JS.InvokeVoidAsync("download_file", $"export-{DateTime.Now:yyyyMMdd}.json", "application/zip", bytes);

            Processing = false;
            await OnClose.InvokeAsync(true);
            await OnSuccessfulExport.InvokeAsync(true);
        }
        catch
        {
            Error = "Objevila se nečekaná chyba. Zkuste to prosím později.";
        }
        finally
        {
            Processing = false;
        }
    }

    private async Task ExportExcel()
    {
        Error = null;
        Processing = true;

        try
        {
            var response = await Client.GetAsync("/api/properties/items/export/excel");

            if (response.StatusCode != HttpStatusCode.OK)
            {
                var error = await response.Content.ReadFromJsonAsync<ErrorResponse>() ?? throw new NullReferenceException();
                Error = ErrorTranslator.Translate(error.Detail, ExportToExcelPropertyItemResponse.ErrorTranslations);
                return;
            }

            var bytes = await response.Content.ReadAsByteArrayAsync();
            await JS.InvokeVoidAsync("download_file", $"export-{DateTime.Now:yyyyMMdd}.xlsx", "application/zip", bytes);

            Processing = false;
            await OnClose.InvokeAsync(true);
            await OnSuccessfulExport.InvokeAsync(true);
        }
        catch
        {
            Error = "Objevila se nečekaná chyba. Zkuste to prosím později.";
        }
        finally
        {
            Processing = false;
        }
    }
}
