@using System.Net
@using Invenire.Api.Users
@using Invenire.Api.Users.Admin
@using Invenire.Common.Extensions
@using Invenire.Api.Users.Employees
@using Invenire.Components.Forms.Organizations
@using Invenire.Components.Dashboard.Properties
@using Invenire.Components.Dashboard.Users.Admins
@using Invenire.Components.Dashboard.Organizations
@using Invenire.Components.Dashboard.Users.Employee

@page "/dashboard"

<button @onclick="() => Logout()">Odhlásit</button>

@if (Role == JwtRole.Admin)
{
    @if (IsOrganizationNull is true)
    {
        <h1>Vytvoření organizace</h1>
        <CreateOrganizationForm OnSuccessfulCreation="OnSuccessfulCreation" />
    }
    else
    {
        <h1>Dashboard</h1>
        <div>
            <div>
                <h2>Přehled vás</h2>
                <AdminOverview />
            </div>
            <div>
                <h2>Přehled organizace</h2>
                <AdminOrganizationOverview />
            </div>
            <div>
                <h2>Přehled majetku</h2>
                <AdminPropertyOverview />
            </div>
        </div>
    }
}
else if (Role == JwtRole.Employee)
{
    @if (IsOrganizationNull is true)
    {
        <h1>Připojte se k organizaci</h1>
        <EmployeeOrganizationInvitationOverview OnSuccessfulJoin="OnSuccessfulJoin" />
    }
    else
    {
        <h1>Dashboard</h1>
        <div>
            <div>
                <h2>Přehled vás</h2>
                <EmployeeOverview />
            </div>
            <div>
                <h2>Přehled organizace</h2>
                <EmployeeOrganizationOverview />
            </div>
            <div>
                <h2>Přehled majetku</h2>
                <EmployeePropertyOverview />
            </div>
        </div>
    }
}


@code {
    [Inject] private HttpClient Client { get; set; } = default!;
    [Inject] private NavigationManager Navigation { get; set; } = default!;

    private bool? IsOrganizationNull { get; set; }
    private JwtRole? Role { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Role is null)
        {
            var response = await Client.GetAsync("/api/server/auth/role");

            if (response.StatusCode != HttpStatusCode.OK)
            {
                Navigation.NavigateTo("/login");
                return;
            }

            Role = (await response.Content.ReadAsStringAsync()).ToEnum<JwtRole>();
        }

        if (Role == JwtRole.Admin)
        {
            var admin = await (await Client.GetAsync("/api/admins/profile")).Content.ReadFromJsonAsync<AdminDto>();

            if (admin is null) throw new NullReferenceException();

            if (admin.OrganizationId is null)
            {
                IsOrganizationNull = true;
            }
        }
        else if (Role == JwtRole.Employee)
        {
            var employee = await (await Client.GetAsync("/api/employees/profile")).Content.ReadFromJsonAsync<EmployeeDto>();

            if (employee is null) throw new NullReferenceException();

            if (employee.OrganizationId is null)
            {
                IsOrganizationNull = true;
            }
        }
    }

    private void OnSuccessfulCreation()
    {
        IsOrganizationNull = false;
        StateHasChanged();
    }

    private void OnSuccessfulJoin()
    {
        IsOrganizationNull = false;
        StateHasChanged();
    }

    private async Task Logout()
    {
        await Client.PostAsync("/api/logout", null);

        Navigation.NavigateTo("/login");
    }
}