@using System.Net
@using Invenire.Common.Errors
@using Invenire.Api.Users.Admin
@using Invenire.Api.Users.Admin.Update

@if (Admin is not null)
{
    <EditForm class="modal-form" Model="Body" OnSubmit="UpdateAdmin" @ref="Form">
        <div class="form-group">
            <label>Křestní jméno:</label>
            <InputText @bind-Value="Body.FirstName" />
            <ValidationMessage For="@(() => Body.FirstName)" />
        </div>

        <div class="form-group">
            <label>Přijmení:</label>
            <InputText @bind-Value="Body.LastName" />
            <ValidationMessage For="@(() => Body.LastName)" />
        </div>

        <div class="form-actions">
            <button class="btn-secondary" type="button" @onclick="async () => { await OnClose.InvokeAsync(true); }">Zrušit</button>
            <button type="submit">Uložit</button>
        </div>
    </EditForm>
}

@if (Error is not null)
{
    <div class="error-banner">
        @Error
    </div>
}
@code
{
    [Inject] private HttpClient Client { get; set; } = default!;
    [Parameter] public AdminDto? Admin { get; set; }
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public EventCallback<bool> OnSuccessfulUpdate { get; set; }

    private string? Error { get; set; }
    private ValidationMessageStore ValidationMessages { get; set; } = null!;
    private EditForm Form { get; set; } = null!;
    private UpdateAdminRequestBody Body { get; set; } = new();

    protected override void OnAfterRender(bool rendered)
    {
        if (Form is not null && rendered)
        {
            ValidationMessages = new ValidationMessageStore(Form.EditContext!);
        }
    }

    protected override void OnParametersSet()
    {
        if (Admin is not null)
        {
            Body.FirstName = Admin.FirstName;
            Body.LastName = Admin.LastName;
        }
    }

    private async Task UpdateAdmin()
    {
        Error = null;
        ValidationMessages.Clear();

        var response = await Client.PutAsJsonAsync("/api/admins", Body);

        if (response.StatusCode == HttpStatusCode.NoContent)
        {
            await OnSuccessfulUpdate.InvokeAsync(true);
        }
        else
        {
            var content = await response.Content.ReadFromJsonAsync<ErrorResponse>() ?? throw new NullReferenceException();

            if (content.Type == "ValidationException")
            {
                foreach (var error in content.Errors!)
                {
                    var field = error switch
                    {
                        var e when e.Contains("first_name") => Form.EditContext!.Field(nameof(Body.FirstName)),
                        var e when e.Contains("last_name") => Form.EditContext!.Field(nameof(Body.LastName)),
                        _ => throw new Exception($"Unknown error field: {error}")
                    };

                    ValidationMessages.Add(field, ErrorTranslator.Translate(error, UpdateAdminResponse.ErrorTranslations));
                }

                Form.EditContext!.NotifyValidationStateChanged();
            }
            else
            {
                Error = ErrorTranslator.Translate(content.Detail, UpdateAdminResponse.ErrorTranslations);
            }
        }
    }
}
