@using System.Net

<div class="modal-stack">
    <p class="modal-description">Opravdu chcete dokončit inventuru?</p>
    <div class="modal-footer">
        <button class="btn-secondary" type="button" @onclick="async () => { await OnClose.InvokeAsync(true); }">Ne, zrušit</button>
        <button class="btn-success" type="button" @onclick="async () => { await CompleteScan(); }">Ano, dokončit</button>
    </div>
</div>

@code
{
    [Inject] private HttpClient Client { get; set; } = default!;
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public EventCallback<bool> OnSuccessfulCompletion { get; set; }

    private async Task CompleteScan()
    {
        var response = await Client.PutAsync($"/api/properties/scans/complete", null);

        if (response.StatusCode != HttpStatusCode.NoContent) throw new Exception("Something went wrong during the request to complete the scan.");

        await OnClose.InvokeAsync(true);
        await OnSuccessfulCompletion.InvokeAsync(true);
    }
}
