@page "/login"
@using Invenire.Components.Forms.Login

<h1>@HeaderText</h1>

<label>Vyberte typ přihlášení:</label>
<select @bind="SelectedRole">
    <option value="Employee">Zaměstnanec</option>
    <option value="Admin">Admin</option>
</select>

@if (SelectedRole == "Employee")
{
    <EmployeeLoginForm></EmployeeLoginForm>
}
else if (SelectedRole == "Admin")
{
    <AdminLoginForm></AdminLoginForm>
}

@code {
    private string SelectedRole { get; set; } = "Employee";
    private string HeaderText => SelectedRole switch
    {
        "Admin" => "Přihlaste se jako admin",
        "Employee" => "Přihlaste se jako zaměstnanec",
        _ => throw new Exception()
    };
}