@using Invenire.Components.Forms.Users.Admins
@using Invenire.Components.Forms.Users.Employees

@page "/login"

<h1>@HeaderText</h1>

<label>Vyberte typ přihlášení:</label>
<select @bind="SelectedRole">
    <option value="Employee">Zaměstnanec</option>
    <option value="Admin">Admin</option>
</select>

@if (SelectedRole == "Employee")
{
    <LoginEmployeeForm></LoginEmployeeForm>
}
else if (SelectedRole == "Admin")
{
    <LoginAdminForm></LoginAdminForm>
}

<p>Nemáte ještě účet? <NavLink class="nav-link" href="/register">Zaregistrujte se zde</NavLink>.</p>

@code {
    private string SelectedRole { get; set; } = "Employee";
    private string HeaderText => SelectedRole switch
    {
        "Admin" => "Přihlaste se jako admin",
        "Employee" => "Přihlaste se jako zaměstnanec",
        _ => throw new Exception()
    };
}