@using Invenire.Api.Organizations
@using Invenire.Components.Forms.Organizations

@if (Organization is not null)
{
    <ul>
        <li><strong>Id:</strong> @Organization.Id</li>
        <li><strong>Název:</strong> @Organization.Name</li>
        <li><strong>Vytvořeno:</strong> @Organization.CreatedAt.ToString("g")</li>
        @if (Organization.LastUpdatedAt is not null)
        {
            <li><strong>Naposledy upraveno:</strong> @Organization.LastUpdatedAt?.ToString("g")</li>
        }
    </ul>

    <button @onclick="() => ShowModal = true">Upravit informace</button>

    @if (ShowModal)
    {
        <div style="
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1000;">
            <div style="
                background-color: white;
                padding: 20px;
                border-radius: 8px;
                width: 500px;
                max-width: 90%;
                box-shadow: 0 2px 10px rgba(0,0,0,0.3);">

                <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                    <h4 style="margin: 0;">Upravit informace organizace</h4>
                    <button @onclick="() => ShowModal = false">X</button>
                </div>

                <UpdateOrganizationForm Organization="Organization" OnClose="() => ShowModal = false" OnSuccessfulUpdate="OnSuccessfulOrganizationUpdate" />
            </div>
        </div>
    }
}

@code {
    [Parameter] public OrganizationDto? Organization { get; set; }
    [Parameter] public EventCallback<bool> OnSuccessfulUpdate { get; set; }

    private bool ShowModal { get; set; } = false;

    private async Task OnSuccessfulOrganizationUpdate()
    {
        ShowModal = false;
        await OnSuccessfulUpdate.InvokeAsync(true);
    }
}