@using System.Net
@using Blazored.LocalStorage
@using Invenire.Api.Organizations
@using Invenire.Api.Users.Employees
@using Invenire.Components.Forms.Organizations

@if (Organization is not null)
{
    <div class="stack">
        <section class="section-card">
            <h3>Základní informace</h3>
            <AdminOrganizationBaseOverview Organization="Organization" OnSuccessfulUpdate="Reload" />
        </section>

        <section class="section-card">
            <h3>Zaměstnanci</h3>
            <AdminOrganizationEmployeesOverview Organization="Organization" OnSuccessfulDeletion="Reload" />
        </section>

        <section class="section-card">
            <h3>Pozvánky</h3>
            <AdminOrganizationInvitationOverview Organization="Organization" OnChange="Reload" />
        </section>
    </div>
}


@code
{
    [Inject] private HttpClient Client { get; set; } = default!;
    [Inject] private ILocalStorageService Storage { get; set; } = default!;

    private OrganizationDto? Organization { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadOrganization();
    }

    private async Task LoadOrganization()
    {
        var response = await Client.GetAsync("/api/organizations");

        if (response.StatusCode != HttpStatusCode.OK) throw new Exception("Something went wrong during the request to get the organization.");

        Organization = await response.Content.ReadFromJsonAsync<OrganizationDto>();

        await PersistEmployees(Organization!.Employees ?? []);
    }

    private async Task Reload()
    {
        await LoadOrganization();
        StateHasChanged();
    }

    private async Task PersistEmployees(IEnumerable<EmployeeDto> employees)
    {
        await Storage.SetItemAsync("Employees", employees);
    }
}
