@using System.Net
@using Invenire.Common.Errors
@using Api.Properties.Suggestions.Decline
@using Invenire.Api.Properties.Suggestions

<div class="modal-stack">
    <p class="modal-description">Opravdu chcete schválit návrh?</p>
    <div class="modal-footer">
        <button class="btn-secondary" type="button" @onclick="() => OnClose.InvokeAsync(true)">Zrušit</button>
        <button class="btn-success" type="button" @onclick="() => AcceptSuggestion()">Ano, schválit</button>
    </div>

    @if (ErrorGeneralMessage is not null)
    {
        <div class="error-banner">
            <p>@ErrorGeneralMessage</p>
        </div>
    }
</div>
@code 
{
    [Inject] private HttpClient Client { get; set; } = default!;
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public EventCallback<bool> OnChange { get; set; }
    [Parameter] public required PropertySuggestionDto Suggestion { get; set; } 

    private string? ErrorGeneralMessage;

    private async Task AcceptSuggestion()
    {
        ErrorGeneralMessage = null;

        var response = await Client.PutAsJsonAsync($"/api/properties/suggestions/{Suggestion.Id}/accept", new object{});

        if (response.StatusCode == HttpStatusCode.NoContent)
        {
            await OnClose.InvokeAsync(true);
            await OnChange.InvokeAsync(true);
        }
        else
        {
            var content = await response.Content.ReadFromJsonAsync<ErrorResponse>() ?? throw new NullReferenceException();

            ErrorGeneralMessage = ErrorTranslator.Translate(content.Detail, DeclinePropertySuggestionResponse.ErrorTranslations);
        }
    }
}
