@using System.Net
@using Invenire.Common.Errors
@using Invenire.Api.Properties.Suggestions.Decline
@using Invenire.Api.Properties.Suggestions

<div class="modal-stack">
    <p class="modal-description">Opravdu chcete odmítnout návrh?</p>

    <EditForm class="modal-form" Model="Body" OnSubmit="Decline" @ref="Form">
        <div class="form-group">
            <label>Feedback:</label>
            <InputTextArea @bind-Value="Body.Feedback" />
            <ValidationMessage For="@(() => Body.Feedback)" />
        </div>

        <div class="form-actions">
            <button class="btn-secondary" type="button" @onclick="async () => { await OnClose.InvokeAsync(true); }">Zrušit</button>
            <button class="btn-destructive" type="submit">Ano, odmítnout</button>
        </div>

        @if (Error is not null)
        {
            <div class="error-banner">
                <p>@Error</p>
            </div>
        }
    </EditForm>
</div>

@code
{
    [Inject] private HttpClient Client { get; set; } = default!;
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public EventCallback<bool> OnChange { get; set; }
    [Parameter] public required PropertySuggestionDto Suggestion { get; set; }

    private string? Error { get; set; }
    private ValidationMessageStore ValidationMessages { get; set; } = null!;
    private EditForm Form { get; set; } = null!;
    private DeclinePropertySuggestionRequestBody Body { get; set; } = new();

    protected override void OnAfterRender(bool initial)
    {
        if (Form is not null && initial)
        {
            ValidationMessages = new ValidationMessageStore(Form.EditContext!);
        }
    }

    private async Task Decline()
    {
        Error = null;
        ValidationMessages.Clear();

        var response = await Client.PutAsJsonAsync($"/api/properties/suggestions/{Suggestion.Id}/decline", Body);

        if (response.StatusCode == HttpStatusCode.NoContent)
        {
            await OnClose.InvokeAsync(true);
            await OnChange.InvokeAsync(true);
        }
        else
        {
            var content = await response.Content.ReadFromJsonAsync<ErrorResponse>() ?? throw new NullReferenceException();

            if (content.Type == "ValidationException")
            {
                foreach (var error in content.Errors!)
                {
                    var field = error switch
                    {
                        var e when e.Contains("feedback") => Form.EditContext!.Field(nameof(Body.Feedback)),
                        _ => throw new Exception($"Unknown error field: {error}")
                    };

                    ValidationMessages.Add(field, ErrorTranslator.Translate(error, DeclinePropertySuggestionResponse.ErrorTranslations));
                }

                Form.EditContext!.NotifyValidationStateChanged();
            }
            else
            {
                Error = ErrorTranslator.Translate(content.Detail, DeclinePropertySuggestionResponse.ErrorTranslations);
            }
        }

    }
}
