@using Invenire.Api.Properties

@if (Property is not null)
{
    <ul>
        <li><strong>Id:</strong> @Property.Id</li>
        <li><strong>Vytvořeno:</strong> @Property.CreatedAt.ToUserTimeString()</li>
        <li><strong>Naposledy upraveno:</strong> @(Property.LastUpdatedAt.ToUserTimeString() ?? "-----")</li>
    </ul>
}

@code
{
    [Parameter] public PropertyDto? Property { get; set; }
}
