@using Invenire.Api.Properties

@if (Property is not null)
{
    <ul>
        <li><strong>Id:</strong> @Property.Id</li>
        <li><strong>Vytvořeno:</strong> @Property.CreatedAt.ToString("dd.MM.yyyy HH:mm")</li>
        <li><strong>Naposledy upraveno:</strong> @(Property.LastUpdatedAt?.ToString("dd.MM.yyyy HH:mm") ?? "-----")</li>
    </ul>
}

@code {
    [Parameter] public PropertyDto? Property { get; set; }
}
