@using Invenire.Api.Properties

@if (Property is not null)
{
    <div class="detail-list">
        <div class="detail-item">
            <span class="detail-label">Id</span>
            <span class="detail-value">@Property.Id</span>
        </div>
        <div class="detail-item">
            <span class="detail-label">Vytvořeno</span>
            <span class="detail-value">@Property.CreatedAt.ToUserTimeString()</span>
        </div>
        <div class="detail-item">
            <span class="detail-label">Naposledy upraveno</span>
            <span class="detail-value">@(Property.LastUpdatedAt?.ToUserTimeString() ?? "-----")</span>
        </div>
    </div>
}

@code
{
    [Parameter] public PropertyDto? Property { get; set; }
}
