@using System.Net
@using Invenire.Common.Errors
@using Invenire.Api.Organizations.Invitations.Create

<EditForm class="modal-form" Model="Body" OnSubmit="CreateInvitation" @ref="Form">
    <div class="form-group">
        <label>Email zaměstnance:</label>
        <InputText @bind-Value="Body.EmployeeEmailAddress" />
        <ValidationMessage For="@(() => Body.EmployeeEmailAddress)" />
    </div>

    <div class="form-group">
        <label>Text:</label>
        <InputTextArea @bind-Value="Body.Description" rows="4" />
        <ValidationMessage For="@(() => Body.Description)" />
    </div>

    <div class="form-actions">
        <button class="btn-secondary" type="button" @onclick="async () => { await OnClose.InvokeAsync(true); }">Zrušit</button>
        <button type="submit">Vytvořit</button>
    </div>
</EditForm>

@if (Error is not null)
{
    <div class="error-banner">
        @Error
    </div>
}

@code
{
    [Inject] private HttpClient Client { get; set; } = default!;
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public EventCallback<bool> OnSuccessfulCreation { get; set; }

    private string? Error { get; set; }
    private ValidationMessageStore ValidationMessages { get; set; } = null!;
    private EditForm Form { get; set; } = null!;
    private CreateOrganizationInvitationRequestBody Body { get; set; } = new();

    protected override void OnAfterRender(bool rendered)
    {
        if (Form is not null && rendered)
        {
            ValidationMessages = new ValidationMessageStore(Form.EditContext!);
        }
    }

    private async Task CreateInvitation()
    {
        Error = null;
        ValidationMessages.Clear();

        var response = await Client.PostAsJsonAsync("/api/organizations/invitations", Body);

        if (response.StatusCode == HttpStatusCode.Created)
        {
            await OnClose.InvokeAsync(true);
            await OnSuccessfulCreation.InvokeAsync(true);
        }
        else
        {
            var content = await response.Content.ReadFromJsonAsync<ErrorResponse>() ?? throw new NullReferenceException();

            if (content.Type == "ValidationException")
            {
                foreach (var error in content.Errors!)
                {
                    var field = error switch
                    {
                        var e when e.Contains("description") => Form.EditContext!.Field(nameof(Body.Description)),
                        var e when e.Contains("employee_email_address") => Form.EditContext!.Field(nameof(Body.EmployeeEmailAddress)),
                        _ => throw new Exception($"Unknown error field: {error}")
                    };

                    ValidationMessages.Add(field, ErrorTranslator.Translate(error, CreateOrganizationInvitationResponse.ErrorTranslations));
                }

                Form.EditContext!.NotifyValidationStateChanged();
            }
            else
            {
                Error = ErrorTranslator.Translate(content.Detail, CreateOrganizationInvitationResponse.ErrorTranslations);
            }
        }
    }
}
